.rulesContainer {
    margin: 0 10px;
    background-color: #333;
    padding: 30px;
}
#presetStatus {
    word-break: break-all; 
    max-width: 300px;
}
#canvas {
    width: 1000px;
}
.toolsContainer {
    margin: 0 10px;
    background-color: #333;
    padding: 30px;
}
.totalContainer {
    display: flex;  
    align-items: center;
    color: white;
    font-family: monospace;
    
}
html {
    background-color: #111;
}
button, select, input {
    border: 2px black solid;
    border-radius:0px;
    background-color: #CCC;
}