#textBox {
	text-align: center;
	width: 30%;
	font-size 2em;
	height: 20em;
}
body {
	background-color: #CCC;
}
@font-face {
		font-family: tokipona;
  		src: url("fonts/tokiPona.woff");
}
#fireFoxWarning {
	color: red;
	display: none;
}
#boxToki:checked ~ #textBox{
	font-family: tokipona;
	font-size: 2em;
	height: 8.33em;
}


td {
	font-family: tokipona;
	font-size: 2em;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-radius: 20px;
	box-shadow: 0 2px 5px grey;
	user-select: none; 
	text-align:center;
}
#keyboardWord:checked ~ #keyboard > tbody > tr > td {
	font-family: sans-serif;	
	font-size: 1em;

}
td:hover {
	box-shadow: 0 5px 7px grey;
}
table {
	background-color: #7FAAFF;
	padding:10px;
	border-radius:10px;
	border-spacing: 10px 10px;
}
.blank {
	background-color:#BED5FF;
	
}
.frequent {
	background-color:#81FED4;
}
.util {
	background-color:#6F95DE;
	color: white;
}
.word {
	box-shadow: 0 3px 6px grey;
	background-color:#81FED4;
}
.wordTwo {
	box-shadow: 0 3px 6px grey;
	background-color:#00947A;
}
.wordVolTwo {
	box-shadow: 0 3px 6px grey;
	background-color:#FE967B;
}
iframe {
	margin-top: 50px;
 width: 95%;
 height: 700px;
}
.utilSelected {
	background-color:#4f36e0;
}